{% extends "base.html" %}

{% block content %}

<div id='main' class="background-beige padder-100 margin-top-80">
    <div class="registration-box">
       <center> <h3>Login</h3></center>
       <form method="post" action="{% url 'django.contrib.auth.views.login' %}?next={{ next }}">
        {% csrf_token %}
        <hr>
        {{ form.username }}
        <hr>
        {{ form.password }}
        <hr>
        {% if form.errors %}
        <center>
            <p class='errors'>Your username and password didn't match. Please try again.</p>
            {% endif %}
            <a href="{% url "password_change" %}">Forgot your password?</a>
        </br>
        <button class="button-blue login-b">Login</button>
    </center>
    <div class="clear"></div>
</form>
</div>
</div>

{% endblock %}


 <!-- in base.html -->