{% extends "base.html" %}
{% load static %}
{% block title %}

{% endblock title %}

{% block content %}

  <div class="registration-box">
    <h1>Signup</h1>
    <form action='/account/register/{% if next %}?next={{ next }}{% endif %}' method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="clear"></div>

      <button class="replace-this-class">Submit</button>
        <!-- replace the above button class with the class(es) you make in _buttons.scss -->

      <div class="clear"></div>
      <p class='registration'>Or Login with Facebok</p>
      <a href='/login/facebook'><img src='{% static 'img/button_fb.png' %}'/></a>
    </form>
  </div>

{% endblock content %}
{% block body_media %}
<script type="text/javascript">
$(function(){
 $("form").submit(function(){
   debugger
   mixpanel.track("register");
 })
})
</script>
{% endblock %}

