{% load static from staticfiles %}
{% load thumbnail %}
{% load mathfilters %}

<div id="facility-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
<!--  <ol class="carousel-indicators">
</ol> -->
<!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for image in images %}
    <div class="item item-main {% if image.featured %}active{% endif %}" data-slide-number="{{ forloop.counter }}">
      <img class="img-main-carousel" src="{{ image.image|thumbnail_url:'carousel_main' }}"/>
    </div>
    {% endfor %} 
  </div>

  <!-- Controls -->
  {% if images %}
    <a class="left carousel-control main-control" href="#carousel-example-generic" data-slide="prev">
      <img src='{% static 'img/icon_chevron_left_green.png' %}'/>
    </a>
    <a class="right carousel-control main-control" href="#carousel-example-generic" data-slide="next">
      <img src='{% static 'img/icon_chevron_right_green.png' %}'/>
    </a>
  {% endif %}
</div>


<div id="facility-map" >


</div>
<script type="text/javascript">
mapHtml = '<iframe width="600" height="445" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDYGAWilv_2-qUyeUClcIMYwBI9tKLXWBo&q={{ facility.get_encoded_address }}&zoom=16"></iframe>'
</script>

<!-- thumb navigation carousel -->
<div class="clear"></div>
<div class="col-md-12" id='count-map' style='border-right: 1px solid #ccc; border-left: 1px solid #ccc;'> 
  <div class="col-md-6 count" style='border-right: 1px solid #ccc; height: 100%;'>
    <center>
      <img src='{% static 'img/icon_camera.png' %}'/>
      <span id="carousel-current-image-number">{% if images %}1{% else %}0{% endif %}</span>
        <span id="carousel-total-image-number"> / {{ images|length }}</span>
      </p>
    </center>
  </div>
  <div class="col-md-6 map">
    <center>
      <img src='{% static 'img/icon_map.png' %}'/>
      <p>Map View</p>
    </center>
  </div>
</div>
  <div class="col-md-12 " id="slider-thumbs">
    <!-- thumb navigation carousel items -->
    <div id="thumb-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner">
        {% for image in images %}
          {% if forloop.first %} 
          <ul class="list-inline item item-thumb active" data-slide-number="0">
          {% elif forloop.counter0|divisibleby:8 %}
            <ul class="list-inline item item-thumb secondary-thumb-ul" data-slide-number="{{ forloop.counter0|intdiv:8 }}">
          {% endif %}
          <li> <a id="carousel-selector-{{ forloop.counter }}" {% if image.featured %}class="selected"{% endif %}>
            <img src="{{ image.image|thumbnail_url:'carousel_thumbnail' }}" class="img-responsive">
          </a></li>
        {% if forloop.last or forloop.counter|divisibleby:8 %}
          </ul>
        {% endif %}
      {% endfor %}
      </div>
        {% if images|length > 8 %}
          <a class="left carousel-control thumb-control" href="#" data-slide="prev">
            <img src='{% static 'img/icon_chevron_left_green.png' %}'/>
          </a>
          <a class="right carousel-control thumb-control" href="#" data-slide="next">
            <img src='{% static 'img/icon_chevron_right_green.png' %}'/>
          </a>
        {% endif %}
    </div>
  </div>
