
<p class='list-prop-header'>If you'd like to list your community please fill the form below and our agents will contact you shortly, or you can give us a call at 1(800) 434-0324</p>
<form action="{% url 'list_property' %}" method='post'>
  {% csrf_token %}
  <div>
      <table>
        <tr><td> {{ form.first_name }}</td></tr>
        <tr><td> {{ form.first_name.errors }}</td></tr>
        <tr><td> {{ form.last_name }}</td></tr>
        <tr><td> {{ form.first_name.errors }}</td></tr>
        <tr><td> {{ form.phone_num }}</td></tr>
        <tr><td> {{ form.phone_num.errors }}</td></tr>
        <tr><td> {{ form.description }}</td></tr>
        <tr><td> {{ form.description.errors }}</td></tr>
      </table>
    </div>
  <button type="submit" class="button-blue submit-b">Create</button>
</form>

