{% load static from staticfiles %}
<div class="col-xs-4">
  <!-- loop for the listing preview starts here -->
  <div class="listing-preview" url="{{ facility.get_absolute_url }}">

    <!-- snippet will go here for a saved or unsaved heart. so will if user is authenticated logic to
    show or head hearts -->
    {% if user.is_authenticated %}
    <!-- WHEN MERGING AJAXFAVORITES replace what's inside this conditional with that-->
    <a href="{% url 'favorite' facility.slug %}?next={{ request.get_full_path }}">
      {% if user in facility.favorited_by.all %}
      <div class="heart-holder empty" style=""></div>
      {% else %}
      <div class="heart-holder full"></div>
      {% endif %}
    </a>
    {% else %}

    <div  class="heart-holder" data-logged_in='no' data-toggle="modal" data-target="#Login-Modal"></div>
    {% endif %}

    <!-- {% for facility.image in images %}
      <div class="item {% if image.featured %}active{% endif %}" data-slide-number="{{ forloop.counter0 }}">
        <img class="img-main-carousel" src="{{ image.image.url }}"/>
      </div>
      {% endfor %}  -->



      <!-- <img class='listing-img-small' src="{% static 'img/listing_img_small.png' %}"/> -->


      <img src='{{ facility.get_featured_image.image.url }}'/>



      <!-- loop for the tags per listing starts here -->

      <div class="clear"></div>
      <div class='truncate-extra listing-tag'>
        {% for type in facility.facility_types.all %}
        {{ type.name }}
        {% endfor %}
      </div>
      <div class="clear"></div>

      <p class="listing-title">{{ facility.name|truncatechars:25 }}</p>
      <p class="listing-location">{{ facility.city }}</p>

      <hr>
      <p class='from'>From</p>
      <p class="listing-price">${{ facility.min_price }}</p>
      <p class='listing-next'href="" class="">{{ facility.care_type }}</p>
      <div class="clear"></div>
      <hr>
      <p class="listing-else">{{ facility.description_short|truncatechars:28 }}</p>
    </div>
  </div>
