
<form id='registration-form' data-normal-url="{% url 'registration_register' %}?next={{ next }}" {% if facility_slug %} data-get-phone-url="{% url 'registration_and' facility_slug=facility_slug phone_or_tour='phone'%}?next={{ next }}" data-tour-request-url="{% url 'registration_and' facility_slug=facility_slug phone_or_tour='tour' %}?next={{ next }}"  {% endif %} method="POST">
  <div class="modal fade" id="Registration-Modal-1" tabindex="-1" role=".modal" aria-labelledby="Registration-ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <center>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <center>
              {% if facility_name %}
              <p class="registration-header-text">To contact this Community</p>
              <h3>{{ facility_name }}</h3>
              <p class="registration-header-text">Would like to request your contact information</p>
              {% else %}
              <h3>Create Account</h3>
              {% endif %}
              <p class="registration-header-text">We won't share your information with anyone but communities you choose to contact. We ask for your number so community managers can easily reach you to answer any questions.</p>
            </center>
          </div>
          <div class="modal-body">
            {% csrf_token %}
            <hr>
            {{registration_form.first_name }}
            <hr>
            {{ registration_form.last_name }}
            <hr>
            {{ registration_form.phone_number }}
            <hr>
            <br>
            <button type="button" class="button-blue" data-dismiss="modal" data-toggle="modal"  data-target="#Registration-Modal-2">NEXT</button>
            <!-- replace the above button class with the class(es) you make in _buttons.scss -->
            <center><span class="login-link" data-toggle="modal" data-dismiss="modal" data-target="#Login-Modal">Already a Member? Login</span></center>
          </div>
        </div>
      </center>
    </div>
  </div>

  <div class="modal fade" id="Registration-Modal-2" tabindex="-1" role=".modal" aria-labelledby="Registration-ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <center>
        <div class="modal-content">

         <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <center>
            <h3>Create Account</h3>
            <p class="registration-header-text">
              -To be eligible to recieve $200 on move-in
              <br>
              -To save your favorite listings
            </p>
          </center>
        </div>

        <div class="modal-body">
          <hr>
          {{ registration_form.email }}
          <hr>
          {{ registration_form.password1 }}
          <hr>
          {{ registration_form.password2 }}
          <hr>
            <!-- <button type="button" class="button-blue" data-dismiss="modal" data-toggle="modal"  data-target="#Registration-Modal-1">BACK</button>
            <button type="submit" class="button-blue submit-b">Submit</button> -->

            <button type="button" class="button-orange" data-dismiss="modal" data-toggle="modal" data-target="#Registration-Modal-1">BACK</button>
            <button type="submit" class="button-blue button-create-account">Submit</button>

          </form>
        </div>
      </div>
    </center>
  </div>
</div>
