<form id="tour-request-form" action="{% url 'tour_request' facility_slug %}" method="POST">
  {% csrf_token %}

  <div class="modal fade" id="tour-modal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <center>
        <div class="modal-content">
          <div class="modal-body">
            <center>
              {{ form.errors }}
              {{ form.health_description }}
              <br />

              {{ form.planned_move_date }}

            </center>
          </div>
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">BACK</button> -->
          <center><button type="button" class="button-blue" data-dismiss="modal" data-toggle="modal"  data-target="#tour-modal-2">NEXT</button></center>
        </div>
      </center>
    </div>
  </div>

  <div class="modal fade" id="tour-modal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <center>
        <div class="modal-content">
           <div class="modal-select-holder">
            {{ form.searching_for }}
          </div>
          <div class="align-left">
            <p id='f-o'>Financial Payment Options</p>
            <div class="clear"></div>
            {{ form.pay_private_pay }}
            {{ form.pay_private_pay.label_tag }}
            <p>Private Pay</p>
            <div class="clear"></div>
            {{ form.pay_longterm_care }}
            {{ form.pay_longterm_care.label_tag }}
            <p>Longterm Care Insurance</p>
            <div class="clear"></div>
            {{ form.pay_veterans_benefits }}
            {{ form.pay_veterans_benefits.label_tag }}
            <p>Veterans Benefits</p>
            <div class="clear"></div>
            {{ form.pay_medicare }}
            {{ form.pay_medicare.label_tag }}
            <p>Medicare</p>
            <div class="clear"></div>
            {{ form.pay_medicaid }}
            {{ form.pay_medicaid.label_tag }}
            <p>Medicaide</p>
            <div class="clear"></div>
            {{ form.pay_ssi }}
            {{ form.pay_ssi.label_tag }}
            <p>SSI</p>
          </div>
          <div class="modal-select-holder">
            {{ form.budget }}
          </div>
           <br/>
          <br/>
          <button type="button" class="button-orange" data-dismiss="modal" data-toggle="modal" data-target="#tour-modal-1">BACK</button>
          <button type="button" class="button-blue" data-dismiss="modal" data-toggle="modal" data-target="#tour-modal-3">NEXT</button>
        </center>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tour-modal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <center>
      <div class="modal-content">
        <div class="modal-body">
          <div class="align-left">
            {{ form.care_bathing }}
            {{ form.care_bathing.label_tag }}
            <p>Bathing</p>
            <div class="clear"></div>
            {{ form.care_diabetic }}
            {{ form.care_diabetic.label_tag }}
             <p>Diabetic Care</p>
            <div class="clear"></div>
            {{ form.care_medical_assistance }}
            {{ form.care_medical_assistance.label_tag }}
             <p>Medical Assistance</p>
            <div class="clear"></div>
            {{ form.care_toileting }}
            {{ form.care_toileting.label_tag }}
             <p>Toileting</p>
            <div class="clear"></div>
            {{ form.care_memory_issues }}
            {{ form.care_memory_issues.label_tag }}
             <p>Memory Issues</p>
            <div class="clear"></div>
            {{ form.care_diagnosed_memory }}
            {{ form.care_diagnosed_memory.label_tag }}
            <p>Diagnosed Memory Condition</p>
            <div class="clear"></div>
            {{ form.care_combinative }}
            {{ form.care_combinative.label_tag }}
             <p>Combinative</p>
            <div class="clear"></div>
            {{ form.care_wandering }}
            {{ form.care_wandering.label_tag }}
             <p>Wandering</p>
            <div class="clear"></div>
          {{ form.comments }}
          <br />
          
        </div>
        <button type="button" class="button-orange" data-dismiss="modal" data-toggle="modal" data-target="#tour_search">BACK</button>
        <button type="submit" class="button-blue">Done</button>
      </div>
    </center>
  </div>
</div>

