input[type=checkbox] {
    display: none !important;
}

%checkbox-label, input[type=checkbox]+label:before {
    display: inline-block;
    position: relative;
    height: 1.3em;
    width: 1.3em;
    cursor: pointer;
    font-size: 1em;
    background-color: $white;
    border: 0.1em solid $primary;
    content: "";
    color: $secondary;
    line-height:13px;
    vertical-align: text-top;
    padding-top: 3px;
    padding-left: 2px;
    margin: -4px 0 0 0;
    border-radius:4px;

}


%checkbox-checked, input[type=checkbox]:checked +label:before {
    content: "\2713";
    // position: absolute;
    // top: 0;
    // left: 0;
    
}

span.label-text {
    margin-left:8px;
    margin-right:15px;
    font-weight:normal;
    font-size:16px;
    color:$primary;
}

.custom-select-holder {
    height:40px;
    width: 259px;
    background:image-url('img/select_dropdown.png') no-repeat;
    background-position:240px;
    margin-bottom:20px;

    select {
        height: 100%;
        width: 100%;
        background-color:transparent;
        outline:none;
        -webkit-appearance: none;
        // appearance(-webkit);
        color: $primary;
        padding-left:10px;
        border: 1px solid $border;
    }
}

input[type=radio] {
    display: none !important;
}

%radio-button-label, input[type=radio]+label:before{
    display: inline-block;
    position: relative;
    height: 1em;
    width: 1em;
    cursor: pointer;
    font-size: 1em;
    background-color: $white;
    border: 0.1em solid $primary;
    border-radius:50%;
    content: "";
    color: $secondary;
    line-height:13px;
    vertical-align: text-top;

}

ul#id_preferred_contact label:before {
    @extend %radio-button-label;
}

input[type=radio]:checked +label:before{
    content:"\2022";
    text-align:center;
}

.custom-radio-holder {
    text-align:left;

    label {
        color:$primary;
        font-weight:normal;
        font-size:14px;
        display:block;
    }
}
