//footer scss goes here.

#footer {
    font-size: 18px;
    background-color: $footer;
    min-width: 1040px !important;

    a {
        text-decoration: none;
    }

    p.footer-primary {
        color: $footer-primary;
        display:inline;
        margin: 15px;
        padding: 15px;
        cursor:pointer;
    }

    p.footer-secondary {
        color: $footer-secondary;
        display:inline;
        margin: 15px;
    }

    .footer-social-links {
        margin-top: 20px;

        img {
            margin-right:25px;
        }
    }
}
