//header scss goes here.


.navbar {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 15px;
     -moz-box-shadow:    0px 3px 5px 0px #c3c3c3;
    -webkit-box-shadow: 0px 3px 5px 0px #c3c3c3;
    box-shadow: 0px 3px 5px 0px #c3c3c3;
    border-bottom:none;

    img {
    }

    button {
    margin: 0 5px 0 5px;
    }

    p {
        margin: 2px 20px 0 0;
        color: $secondary;
        float:right;
        font-size:19px;
        cursor:pointer;

        &:hover {
            color:$button-orange;
        }
    }

    .large-text {
        font-size:19px;
    }

    a.logo {
        float:left;
    }

    a.nav {
        color:$secondary;
        float:right;
        margin-right: 20px;
        font-size:18px;
        text-decoration:none;
        margin-top:2px;

        &:hover {
            color:$button-orange;
        }
    }

    a.nav-call {
        &:hover {
            color:$secondary;
        }
    }

    p.no-hover {
        cursor:default;

        &:hover {
            color:$secondary;
        }
    }
}









