.registration-box {
    height: 100%;
    border: 1px solid $border;
    background-color: $white;
    width: 400px;
    margin: 0 auto;
    padding-top:20px;
    padding-bottom:20px;


    input {
        width: 100%;
        border: 1px solid $border;
    }

    table {
        width:100%;
    }


    h3 {
        color:$secondary;
        margin-bottom: 20px;
    }

    a {
        color:$secondary;
        margin-top: 15px;
        display:block;
    }

}


.modal {

    .modal-header {
        border-bottom:none;
    }
    .modal-content {
        width:400px;
    }

    h3 {
        color:$secondary;
    }

    .modal-body {
        padding: 15px 0 15px 0;
    }

    table {
        width:100%;
    }

    a, p {
        margin-left:15px;
        display:block;
        margin-top:15px;
        color:$secondary;
    }

    button {
        margin:0px 0 15px 0px;
    }
    .login-b {
        margin-left: 25px;
    }
    .submit-b {
        margin-top:25px;
    }
}

.login-b {
    margin-left: 25px;
    margin-right:25px;
}

a.push {
    display:block;
    margin-bottom:15px;
    margin-bottom:15px;
}



%abstract-form-dimensions {
    width: 100%;
    height: 40px;
    color: $light;
    padding-left: 20px;
    outline:none;
    border: 1px solid $border;
    margin-top: -1px;
    border-left:none;
    border-right:none;
}

%abstract-form-with-border {
   border-left: 1px solid $border;
   border-right: 1px solid $border;
}


#id_first_name, #id_last_name, #id_email, #id_password1, #id_password2, #id_username, #id_password, #id_name, #id_party_type,
#id_new_password1, #id_new_password2, #id_old_password, #id_phone_number   {
    @extend %abstract-form-dimensions;
}

#id_phone {
    height:40px;
}


//custom inputs for forgot password flow 
#id_old_password, #id_new_password1, #id_new_password2 {
    @extend %abstract-form-dimensions;
    @extend %abstract-form-with-border;
}





// modal custom inputs below for requesting
// a tour

// textarea mixin
@mixin modal-textarea {
    border: 1px solid $border;
    padding-top:10px;
    text-align:center;
}

#id_health_description {
    @include modal-textarea;
}

#id_comments {
    @include modal-textarea;
}

#tour-request-form {

    .modal-content {
        width:330px;
    }

    .modal-header {
        padding-bottom:0px;
    }

    hr {
        margin: 5px;
    }

    button {
        width: 259px;
    }
}

//input mixin
@mixin tour-input {
    width:259px;
    height: 40px;
    color: $light;
    outline:none;
    border: 1px solid $border;
    padding-left: 15px;
    margin: 0 0 15px 0;
    border-radius: 4px;
}

#id_planned_move_date {
    @include tour-input;
}

#id_desired_city {
    @include tour-input;
}

#id_resident_first_name {
    @include tour-input;
}

.modal-select-holder {
    height:40px; 
    width: 259px;
    background:image-url('img/select_dropdown.png') no-repeat;
    background-position:240px;

    select {
        height: 100%;
        width: 100%;
        background-color:transparent;
        outline:none;
        -webkit-appearance: none;
        color: $light;
        padding-left:10px;
        border: 1px solid $border;
    }
}

.align-left {
    text-align:left;
    margin-left: 36px;

    p {
        margin-left:0px;
        float:left;
    }

    label {
        bottom: 10px;
        margin-left: 7px;
        color: $light;
        font-weight: 500;
    }
}


#id_pay_private_pay {
// -webkit-appearance: none;
}

ul.errorlist {
    padding-left: 10px;
    padding-top:10px;
    li {

        list-style: none;
        color: red;
    }
}

p.errors {
    color: red;
    padding-left: 10px;
    padding-top:10px;

}

.password-change {
    h3 {
        color: $secondary;
        margin-bottom: 20px;
    }
    p {
        color: $light;
    }
}










