.registration-box {
  height: 100%;
  padding: 30px;
  border: 1px solid #ccc;
  background-color: #DCDCDC;
  width: 45%;
  margin: 0 auto;

}

#id_first_name {

}

.modal {

  h3 {
    color:$secondary;
  }

  .modal-body {
    padding: 15px 0 15px 0;
  }
  table {
    width:100%;
  }

  a {
    margin-left:15px;
  }
  button {
    margin:15px 0 15px 15px;
  }


}


%abstract-form-dimensions {
  width: 100%;
  height: 40px;
  color: $light;
  padding-left: 20px;
  outline:none;
  border: 1px solid 

}

#id_first_name {
  @extend %abstract-form-dimensions;
}

#id_last_name {
  @extend %abstract-form-dimensions;
}

#id_email {
 @extend %abstract-form-dimensions;
}

#id_password1 {
 @extend %abstract-form-dimensions;
}

#id_password2 {
 @extend %abstract-form-dimensions;
}

#id_username {
 @extend %abstract-form-dimensions;
}

#id_password {
 @extend %abstract-form-dimensions;
}

#id_name {

 @extend %abstract-form-dimensions;
}

#id_party_type {
 @extend %abstract-form-dimensions;

}

#id_new_password1 {
 @extend %abstract-form-dimensions;
}

#id_new_password2 {
 @extend %abstract-form-dimensions;
}

#id_old_password {
 @extend %abstract-form-dimensions;
}

#id_phone_number {
  @extend %abstract-form-dimensions;
}


ul.errorlist {
  padding-left: 0px;
  li {

    list-style: none;
    color: red;
  }
}

p.errors {
  color: red;
}