//Variables go here.

//home page colors
$black:#000000;
$white:#ffffff;
$primary: #5E5E5E; //grey
$secondary: #008185; //aqua green.

//listing-preview colors
$dark: #222222;
$light: #9D9D9D;
$listing-next: #E58F32;

//button colors
$button-blue: #008989;
$button-orange: #e68f32;

//background colors
$grey-background: #F7F6F5;

//footer colors
$footer: #182B2B;
$footer-primary: #C9C9C9;
$footer-secondary: #678181;

//other colors
$border: #DEDDDD;