//Variables go here.

//home page colors
$black:#000000;
$white:#ffffff;
$primary: #4B4B4B; //grey
$secondary: #008185; //aqua green.

//listing-preview colors
$dark: #222222;
$light: #9D9D9D;
$listing-next: #E58F32;


//button colors
$button-blue: #008989;
$button-orange: #e68f32;

//background colors
$grey-background: #F7F6F5;
// $beige-background:#EDE9DF;
$beige-background:#F5F5F5;
$ghost-background:#eFF9Fb;

//footer colors
$footer: #182B2B;
$footer-primary: #C9C9C9;
$footer-secondary: #678181;

//other colors
$border: #DEDDDD;
// $detail-text: #635F5D;


//fonts 

$font1: "RobotoSlab-Regular";
$font2: "RobotoSlab-Bold";
$font3: "RobotoSlab-Light";
$font4: "RobotoSlab-Thin";
$font5: "Source Sans Pro";
