//Variables go here.

$black:#000000;
$white:#ffffff;
$primary: #5E5E5E; //grey
$secondary: #008185; //aqua green.

$grey-background: #F7F6F5;

$footer: #182B2B;
$footer-primary: #C9C9C9;
$footer-secondary: #678181;