
.about {

    .background {
        background:image-url('img/hfg_team_photo.jpg');
        height:585px;
        background-size: cover;
    }

    h2 {
        color: $secondary;
        margin: 0 0 40px 0;
        font-family: $font5;
    }

    p {
        line-height: 1.9em;
        color: $light;
        font-size: 16px;
    }
}