input[type=checkbox] {
    display: none !important;
}

%checkbox-label, label input[type=checkbox]:before {
    display: inline-block;
    position: relative;
    height: 1em;
    width: 1em;
    cursor: pointer;
    font-size: 1em;
    background-color: transparent;
    border: 0.1em solid $primary;
    content: "";
    color: $secondary;
    line-height:13px;
     vertical-align: text-top;
}


%checkbox-checked, label input[type=checkbox]:checked:before {
    content: "\2713";
    // position: absolute;
    // top: 0;
    // left: 0;
   
}

#id_amenities:checked label:after {
    @extend %checkbox-checked;
}
