.facility-detail {
    background-color: $beige-background;
    min-width: 1040px !important;

    hr {
        background-color: $border;
        height: 1px;

    }

// color: #008185;
// font-size: 32px;
// font-weight: bold;
// letter-spacing: 1px;
// float: right;
// margin-top: -50px;
// border-left: 1px solid #ccc;
// padding-left: 45px;
.facility-top {
    margin-top:20px;

    a.back {
        color:$secondary;
        text-transform:uppercase;
        font-size:12px;

        span {
            margin-top: -5px;
        }
    }

    p.name {
        font-size: 30px;
        color: $dark;
        margin-top: 20px;
        margin-bottom:0px;
    }

    p.address {
        font-size: 20px;
        color: $light;
        margin-bottom:5px;
    }

    p.type-name {
        color: $light;
        font-size: 16px;
    }

    .save {
        font-weight:bold;
        color:$light;
        vertical-align:top;
        margin-top:18px;
        margin-right:5px;
        display:inline-block;
    }

    .heart {
        float:right;
        margin-top: -40px;
        margin-right: 80px;
    }

    div.price-and-heart-holder {
        float:right;
        margin-top: -50px;
        
        div.min-price-holder {
            display:inline-block;
            padding-left:30px;
            border-left: 1px solid $border;

            p.min-price-from {
                color: $dark;
                font-size:13px;
                margin-bottom:0px;
            }

            p.min-price {
                color: $secondary;
                font-size: 24px;
            }
        }

        div.heart-holder {
            margin-right:30px;
            margin-top: 17px;
            vertical-align:top;
            display:inline-block;
        }
    }

    hr.facility-top-divider {
        margin-top:0px;
        margin-bottom:40px;
    }
}

.facility-left {
    width: 65%;
    border-right: 1px solid $border;
    padding-right:40px;

    h1{
        color: $secondary;
        font-size:24px;
         font-weight:300;

        span {
            color: $secondary;
        }
    }

    h1.description-title {
        margin-top:30px;
        font-weight:300;
        color:$secondary !important;
    }

    #vacancy-holder {
        h1 {
            margin-top:30px;
            color:$primary;
            margin-bottom:0px;
        }
        #updated-since {
            margin-top:5px;
        }
    }

    h2 {
        color: $secondary;
        font-size:19px;
        margin:20px 50px 10px 0;
         font-weight:300;
    }

    p.description {
        color:$primary;
        font-size:18px;
        line-height:1.8em;
        margin-top:20px;

    }
    p.price-asterisk {
        color:$button-orange;
        font-size:16px;
    }

    span.item-included {
        color:$primary;
        font-size:17px;
    }

    span.item-not-included {
        color:$light;
        font-size:17px;
    }


    .margin-left-10 {
        margin-left:10px;
    }

    .margin-left-26 {
        margin-left:26px;
    }

    .price-vary {
        font-weight:bold;
        color: #e68f32;
    }
}

.facility-right {
    float:left;
    padding-left:40px;
    width: 313px;

    img#profile {
        border-radius: 50px;
        height: 70px;
        width: 70px;
        float: left;
        margin: 0 20px 0 0;
    }

    p.director-name {
        color: $dark;
        font-size: 20px;
        margin: 15px 0 0 0;
    }

    p.property-manager {
        color: $light;
        font-size: 14px;
        margin: 0 0 30px 0;
    }

    img#phone {
        float: left;
        margin: 25px 15px 0 0;
    }

    p.phone {
        float: left;
        color: $dark;
        font-size:26px;
        margin-top:18px;

    }
    p.phone-small {
        font-size: 13px;
        color: $dark;
        margin-top:35px;
    }

    button {
        width: 100%;

    }

    button.button-blue {
        margin-top:0px;
    }
    button.button-orange {
        margin-top:15px;
    }
    
    button.tour-button-inactive {
        @extend .button-orange;
        background-color:$light;
    }

    button.phone-button-inactive {
        @extend .button-blue;
        background-color:$light;
    }

// I need to eliminate this second desc-medium its not DRY
p.desc-medium {
    color: $secondary;
    font-size:18px;
    margin-top: 20px;
    margin-bottom: 25px;
}

p.steps {
    color: $dark;
    font-size: 18px;
    margin-bottom:20px;

    a {
        color:$secondary;
        text-decoration:none;
    }
}

}
}

