.home-background {
  background: image-url('img/home_background_3.png') no-repeat;
  background-size: cover;
  height: 524px;
}

.play {
  float:left;
}

.play-holder {
  background-color:rgba(0, 0, 0, .8,);
  width:300px;
  height: 60px;
  margin-top: 20px;
  color:#fff;


}

.larger-font {
  font-size: 24px;
}
.search-holder {
  background-color:rgba(0, 0, 0, .8,);
  padding:20px 20px 20px 20px;
  width: 747px;
  height: 195px;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 130px;

  .transparent-holder {
    opacity:.8;

  }

   



  input[type='text'] {
    width: 400px;
    height: 40px;
    border-radius:2px;
    border: none;
    padding-left: 15px;
  }

  select {
    height: 40px;
    width: 215px;
  }

  .search-title-holder {
    margin-bottom: 30px;
  }

  h1 {
    color: $white;
    font-size: 42px;
    display:inline;
  }

  button.blog-link-button {
      background-color:$light;
      color: $white;
      border:none;
      border-radius:25px;
      opacity:.7;
      margin:0px 0px 0px 45px;
  }
}

.home-info-holder {

  .desc-boxes {
    background-color:$white;
    height: 207px;
    img {
      margin: 0 20px 0 0;
    }

    .desc-main {
      font-size:24px;
      color:$secondary;
      padding-top:20px;


    }
    .desc-minor {
      font-size:14px;
      color:$black;
    }
    a.learn-more {
      font-size: 12px;
      text-decoration:none;
      color:$black;
      position: absolute;
      bottom: 20px;
      right: 190px;

      &:hover {
        color:$secondary;
      }
    }

  }

  // img {
  //   margin: 0 0 20px 0;
  // }

  .home-info {
    float:left;

    p.secondary {
      font-size:18px;
    }
    p.primary {
      font-size: 14px;
    }
  }
}

.featured-listings {
  background-color: $grey-background;

  h1 {
    margin: 0 0 40px 0;
  }

}

