.home-background {
  background: image-url('img/home_background_2.png') no-repeat;
  background-size: cover;
  height: 524px;
}

.search-holder {
  background-color:rgba(0, 0, 0, .8,);
  padding:20px 20px 20px 20px;
  width: 747px;
  height: 195px;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 200px;

  .transparent-holder {
    opacity:.8;
  }

  input[type='text'] {
    width: 400px;
    height: 40px;
    border-radius:2px;
    border: none;
    padding-left: 15px;
  }

  select {
    height: 40px;
    width: 215px;
  }

  .content-holder {
  }

  h1 {
    color: $white;
    font-size: 42px;
    margin-bottom: 30px;

  }
}

.home-info-holder {

  .desc-boxes {
    background-color:$white;
    height: 207px;
    img {
      margin: 0 20px 0 0;
    }

    .desc-main {
      font-size:24px;
      color:$secondary;
      padding-top:20px;


    }
    .desc-minor {
      font-size:14px;
      color:$black;
    }
    a {
      font-size: 12px;
      text-decoration:none;
      color:$black;
      position: absolute;
      bottom: 20px;
      right: 190px;

      &:hover {
        color:$secondary;
      }
    }

  }

  // img {
  //   margin: 0 0 20px 0;
  // }

  .home-info {
    float:left;

    p.secondary {
      font-size:18px;
    }
    p.primary {
      font-size: 14px;
    }
  }
}

.featured-listings {
  background-color: $grey-background;

  h1 {
    margin: 0 0 40px 0;
  }

}

