.home-background {
  background-size: cover;
  height: 700px;
}
.home-bg-image-1 {
  background: image-url('img/home-background-1.jpg') no-repeat;
  background-size: cover;
  height: 700px;
}
.home-bg-image-2 {
  background: image-url('img/home-background-2.jpg') no-repeat;
  background-size: cover;
  height: 700px;
}
.home-bg-image-3 {
  background: image-url('img/home-background-3.jpg') no-repeat;
  background-size: cover;
  height: 700px;
}


.play {
  float:left;
}

.play-holder {
  background: linear-gradient(to right, rgba(0, 0, 0, 1),  rgba(0, 0, 0, 0));
  // background-color:rgba(0, 0, 0, .8,);
  width:300px;
  height: 60px;
  margin-top: 170px;
  color:#fff;
  cursor:pointer;

  p {
    margin-left: 90px;
  }

}

.larger-font {
  font-size: 24px;
  letter-spacing:0.09em;
}

.search-holder {
  background-color:rgba(0, 0, 0, .8,);
  padding:20px 20px 20px 20px;
  width: 747px;
  height: 180px;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 220px;

  a {
    text-decoration:none;
  }

  .prop-types {
    margin-bottom:0px;
    color:#fff;
    margin-top: 23px;
    margin-right: 62px;
    font-size: 15px;
    
    &:hover {
      color: $secondary;
    }
  }

  .transparent-holder {
    opacity:.8;

  }

  input[type='text'] {
    width: 400px;
    height: 40px;
    border-radius:2px;
    border: none;
    padding-left: 15px;
    margin-top:20px;
  }

  select {
    height: 40px;
    width: 215px;
  }

  h1 {
    color: $white;
    font-size: 42px;
    display:inline;
    font-family: $secondaryFont;
  }



  .blog-link-button {
    background-color:$light;
    position:relative;
    color: $white;
    border:none;
    border-radius:25px;
    margin:0px 0px 0px 80px;
    outline: none;
    padding: 5px 15px;
    font-size: 10px;
    opacity:.4;

    // p {
    //   position:relative;
    //   opacity:1;
    // }
  }

 // .opacity-holder {
 //    opacity:0.1;
 //    position:absolute;
 //    height:100%;
 //    width:100%;
 //  }
}

.call-us {

  h1 {
    margin-top:30px;
    color: $secondary;
    font-size:46px;
    font-weight:100;
    font-family: $primaryFont;
  }

  h2 {
    color:$button-orange;
    font-size:44px;
     font-family: $primaryFont;
  }

  p {
    font-size: 18px;
    margin-top:15px;
     font-family: $primaryFont;
  }
}
.home-info-holder {
  border-bottom:1px solid 
   -moz-box-shadow:    0px 3px 5px 0px #c3c3c3;
    -webkit-box-shadow: 0px 3px 5px 0px #c3c3c3;
    box-shadow: 0px 3px 5px 0px #c3c3c3;
    border-bottom:none;

  h1 {
    color:$secondary;
    margin-bottom:40px;
    font-weight:300;
    font-size: 44px;
    font-family: $primaryFont;

  }

  h2 {
    color:$secondary;
    font-weight:300;
    font-family: $primaryFont;
  }
  p {
    color: $light;
    font-size:  20px;
    font-weight:200;
    width:80%;
    font-family: $primaryFont;
  }

  a {
    text-decoration:none;
    font-family: $primaryFont;
  }

  .desc-boxes {
    background-color:$white;
    height: 207px;

    -moz-box-shadow:    0px 5px 5px 0px #A8A8A8;
    -webkit-box-shadow: 0px 5px 5px 0px #A8A8A8;
    box-shadow: 0px 5px 5px 0px #A8A8A8;


    // img {
    //   margin: 0 20px 0 0;
    // }

    // .desc-main {
    //   font-size:24px;
    //   color:$secondary;
    //   padding-top:20px;


    // }
    // .desc-minor {
    //   font-size:15px;
    //   color:$black;
    // }
    // a {
    //   text-decoration:none;
    // }
    // a.learn-more {
    //   font-size: 12px;
    //   text-decoration:none;
    //   color:$secondary;
    //   position: absolute;
    //   bottom: 20px;
    //   right: 35px;

    //   &:hover {
    //     color:#009974
    //   }
    // }

  }


  .home-info {
    float:left;

    p.secondary {
      font-size:18px;
    }
    p.primary {
      font-size: 14px;
    }
  }
}

#Video-Modal .modal-content {
  width:740px;
  height:440px;
}



.featured-listings {
  background-color: $grey-background;

  h1 {
    margin: 0 0 40px 0;
    font-family: $secondaryFont;
  }

}

