.listing-preview {
    height:472px;
    width:326px;
    background-color: $white;
    border: 1px solid $border;
    border-radius: 2px;
    padding: 15px;
    position: relative;
    float: left;
    cursor:pointer;
    margin-right: 15px;
    margin-bottom:25px;

    &:nth-child(3n) {
        margin-right: 0px;
    }

    img {
        min-width:324px;
        margin: -15px 0 15px -15px;
    }

    .listing-img-small {
        height: 226px;
    }

    .heart-holder {
        background: image-url('img/icon_not_hearted.png');
        height: 21px;
        width: 22px;
        position: absolute;
        top:15px;
        left: 15px;

        &:hover {
            cursor:pointer;
        }
    }



    .listing-tag {
        color:$secondary;
        font-size: 13px;
        text-transform: uppercase;
        float:left;
        margin: 0 5px 0 0px;
    }

    .listing-title {
        color: $dark;
        font-size: 21px;
    }

    .listing-location {
        color: $light;
        font-size: 18px;
    }

    .from {
        text-transform: uppercase;
        color: $light;
        float: left;
        font-size: 12px;
        margin: 5px 5px 0 0;
    }

    .listing-price {
        color: $secondary;
        font-size: 18px;
        float: left;
    }

    .listing-next {
        color: $listing-next;
        float: right;
        margin: 5px 0 0 0;
        text-transform: uppercase;
        font-size: 12px;
    }

    .listing-else {
        color: $light;
        font-size: 14px;
    }
}




