#search-results {

    h2.empty {
        color: $secondary;
        margin-top:80px;
    }
}
.searchbox {
    background-color: $beige-background;

    hr {
        background-color: #DFDDD7;
        height: 1px;
    }

    button {
        height:55px;
    }

    .search-label {
        margin: 0px;
        text-transform: uppercase;
        color: $primary;
        font-size: 1.2em;
    }

    .margin-right-20 {
        margin-right:20px;
    }

    li {
        list-style:none;
    }


    input#id_query{
        width:848px;
        float:left;
        height: 55px;
        border: 1px solid $border;
        border-shadow:none;
        padding-left: 20px;
        color: #696969;
        @include appearance(none);
        outline: none;
        border-radius:4px 0 0 4px;
        margin: 0 0 20px 0;
        border-bottom:1px solid $border;
        font-size: 18px;
    }
/*    ul#id_amenities {
        li {
            float:left;
            margin-right: 30px;

            label {
                color:$light;
                margin:0 0 0 10px;
            }
        }
    }
*/
    ::-webkit-input-placeholder { /* WebKit browsers */
        color:$primary;
    }

    //scss for property type
    #id_facility_type, #id_room_type {
        width:225px;
        height:50px !important;
        float: left;
        font-size:18px;

    }

//not working yet
    select {
        -moz-appearance: window;
    }

    @-moz-document url-prefix() {
        #id_facility_type {
        margin-top:15px !important;
        padding-top: 16px !important;
        color: transparent !important;
        text-shadow: 0 0 0 #000 !important;
        
    }
}
.second-column {
    vertical-align:top;
}

.search-choice-holder {
    display:inline-block;

    .searchfield-room_type-holder, .searchfield-facility_type-holder {
        height: 50px;
        width: 225px;
        border: 1px solid $border;
        float:left;
        position: relative;
        margin: 0 40px 0 0;
        background:image-url('img/select_dropdown.png') no-repeat;
        background-position:200px;
        background-color:#fff;

        select {
            position: absolute;
            top: 0;
            width: 223px !important;
            padding-left: 30px;
            height: 100%;
            border: 0;
            z-index: 2;
            @include appearance(none);
            outline:none;
            background: transparent;
            -webkit-appearance: none;
        }
    }
}

div#searchfield-amenities {
    label {
        font-size:1.15em;
    }
}



    //scss for slider
    #searchfield-slider {
        float:left;
        margin-top:10px;

        .slider {
            margin-right:15px;
            width:245px !important;
        }
        span {
            color: $light;
        }

        span:first-child {
            margin-left: 14px;
            margin-right: 15px;

        }

            .slider-minmax-values {
                color:$primary;
                font-size:16px;
            }
            
            .slider-selection {
                background-image:none;
                background-color:$secondary;

            }
            .slider-handle  {
                background-image:none;
                background-color:$white;
                border: 1px solid $border;
                border-radius: 3px;
                width: 10px;
                opacity: 1;
            }

            .slider-handle {
                &:nth-child(3) {
                    margin-left:0px;
                }
            }
        }
    }

    .searchbox-home {
        width:708px;
        height:55px;
        background-color:transparent;
        margin-top:30px;

        .searchfield-facility_type-holder {
            margin-right:0px;
            height:55px;
            background-color: #DFE6E6;
            border-radius: 1px;
        }

        input#id_query {
            width:430px;
            background-color:#f8f8f8;
        }

        button {
            margin:0px;
            float:left;
            height: 56px;
        }
    }

    //Pagination
    .page-links {
       font-size:16px; 
    }
