@import "compass/css3/background-size";

@import "compass/layout.scss";

@include sticky-footer(257px, "#main", "#main-footer", "#footer");


@import "registration";
@import "variables";
@import "buttons";
@import "footer";
$bootstrap-sass-asset-helper: false;
@import "bootstrap";
@import "nav";
@import "index";
@import "listing_preview";



//global rules and helper classes

.container {
    width: 1040px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.left {
    float: left;
}

.right {
    float:right;
}

.bold {
    font-weight:bold;
}

.primary {
    color: $primary;
}

.secondary {
    color: $secondary;
}

.padder-top-20 {
    padding-top: 20px;
}

.padder-top-40 {
    padding-top:40px;
}

.padder-40 {
    padding-top:40px;
    padding-bottom:40px;
}

.padder-80{
    padding-top: 80px;
    padding-bottom: 80px;
}


.clear {
    clear: both;
    margin: 0 auto;
}
