@import "compass/css3/background-size";

@import "compass/layout.scss";

@include sticky-footer(257px, "#main", "#main-footer", "#footer");


@import "registration";
@import "variables";
@import "buttons";
@import "footer";
$bootstrap-sass-asset-helper: false;
@import "bootstrap";
@import "nav";
@import "index";
@import "listing_preview";
@import "carousel";
@import "receive_reward";
@import "facility_detail";
@import "search";
@import "contact";


//global rules and helper classes

.container, .container-fluid, {
    width: 1040px !important;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.left {
    float: left;
}

.right {
    float:right;
}

.bold {
    font-weight:bold;
}

.primary {
    color: $primary;
}

.secondary {
    color: $secondary;
}
.margin-right-0 {
    margin-right:0px;
}

.margin-top-20 {
    margin-top:20px;
}

.padder-top-20 {        
    padding-top: 20px;
}

.padder-top-40 {
    padding-top:40px;
}

.padder-40 {
    padding-top:40px;
    padding-bottom:40px;
}

.padder-80{
    padding-top: 80px;
    padding-bottom: 80px;
}

.padder-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.background-white {
    background-color: $white;
}

.background-beige {
    background-color: $beige-background;
}


.clear {
    clear: both;
    margin: 0 auto;
}
