{% extends 'base.html' %}
{% block title %}
About Us | Home For Grandma
{% endblock title %}
{%load static from staticfiles %}

{% block content %}

<!-- Will be adding a fluid container here soon -->

<div class="about">
    <div class="background  margin-top-70">
        <div class="container">
        </div>
    </div>


    <div class="container padder-80">
        <div class="row">
            <div class="col-sm-12">
                <h2>About Us </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <p>HomeforGrandma.com is a free innovative senior referral service providing families with theinformation and options they need to make an informed decision regarding senior care facilities for their a loved ones. We are dedicated to providing the best customized search results for families seeking senior living options.</p>

                <p>We are a young team of technology and geriatric experts that’s looking to bring innovation into the senior living industry. Our team has driven thousands of miles searching for the best assisted living facilities and Residential Cares listed on our website.</p>

                <p>Let our family help yours, to find a perfect home for grandma or grandpa! </p>
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}
