{% extends 'base.html' %}

{% block content %}
    <div id="listing-header">
        <div id="listing-name-address">
            <p>{{ object.name }}</p>
            <p>{{ object.address }} {{ object.city }}, {{ object.state }} {{ object.zipcode }}</p>
            <p>{% for type in object.facility_types.all %}{{ type.name }} | {% endfor %}</p>
        </div>
        <div id=fav-price">
            <a href="{% url 'favorite' facility.slug %}?next={{ request.get_full_path }}"<span {% if request.user in object.favorited_by.all %} style="color:pink" {% else %} style="color:gray" {% endif %}>~FAV HEART</span></a>

            <span> | ${{ object.min_price }}</span>
        </div>
    </div>
    </br>
    </br>
    <div id="image-carousel">
        ~~PRETTY IMAGES~~
    </div>
    </br>

    <div id="desc">
        <span>DESCRIPTION:</span>
        <p>{{ object.description_long }}</p>
    </div>
    <div id="vacancies">
        <span>Capacity: {{ object.capacity }}</span> <span>Vacancies: {{ object.vacancies }}</span>
    </div>
    <div id="pricing">
        <span>Pricing</span>
        {% for room in object.room_types.all %}
        <p>
            <span>{{ room.unit_type }}</span>
            <span>{{ room.square_footage }}</span>
            <span>${{ room.starting_price }}</span>
        </p>
        {% endfor %}
    </div>
    <div id="care">
        <span>Care</span>
        <p>Level 1 : ${{ object.care_level_1_cost }}</p>
        <p>Level 2 : ${{ object.care_level_2_cost }}</p>
        <p>Level 3 : ${{ object.care_level_3_cost }}</p>
        <p>Memory : ${{ object.care_memory_cost }}</p>
    </div> 
    <div id="other">
        <span>Other Fees</span>
        {% for fee in object.fees.all %}
        <p>
            <span>{{ fee.name }} : </span>
        </p>
        {% endfor %}
    </div>
    <div id="conditions">
        <span>Accepts Residents With</span>
        {% for condition in all_conditions %}
        <p>
            {% if condition in object.conditions.all %}
                <!-- if this facility handles this type of condition -->
                <span>{{ condition.name }}</span>
            {% else %}
                <span style="color:gray">{{ condition.name }}</span>
            {% endif %}
        </p>
        {% endfor %}
    </div>
    <div id="amenities">
        <span>Features &amp; Amenities</span>
        {% for amenity in all_amenities %}
        <p>
            {% if amenity in object.amenities.all %}
                <!-- if this facility handles this type of condition -->
                <span>{{ amenity.name }}</span>
            {% else %}
                <span style="color:gray">{{ amenity.name }}</span>
            {% endif %}
        </p>
        {% endfor %}
    </div>
    <div id="langeuages">
        <span>Language Spoken</span>
        {% for language in all_languages %}
        <p>
            {% if language in object.languages.all %}
                <!-- if this facility handles this type of condition -->
                <span>{{ language.name }}</span>
            {% else %}
                <span style="color:gray">{{ language.name }}</span>
            {% endif %}
        </p>
        {% endfor %}
    </div>
    </br>
    </br>
    <div id="sidebar">
        <div id="director-info">
            <img src="{{ object.director_avatar.url }}"/>
            <p>{{ object.director_name }}</p>
            <p>Property Manager</p>
            <p>{{ object.phone }}</p>
        </div>
        <div id="buttons">
            <p>Click below to display facilities Direct Phone Number</p>
            <p>SHOW PHONE NUMBER</p>
            <p>REQUEST A TOUR</p>
        </div>
        <div id="reward">
            <p>How to get a $200 Reward for using Home For Grandma</p>
            <p>1. Contact facility for a tour.</p>
            <p>2. Mention <a href="Homeforgrandma.com">Homeforgrandma.com</a></p>
            <p>3. After you move in, Call 1-800-223-4232 or <a href="#">Claim Reward Online</a></p>
        </div>
    </div>

{% endblock content %}
