{% extends 'base.html' %}
{% block title %}
Property
{% endblock title %}
{%load static from staticfiles %}
{% load thumbnail %}

{% block content %}
<div class="facility-detail">
    <div class="container padder-100">
        <div class="facility-top">
          <a class='back' href="{% url 'search' %}"> <span><</span> Back to Search</a>
          <p class='name'>{{ object.name }}</p>
          <p class='address'>{{ object.address }} {{ object.city }}, {{ object.state }} {{ object.zipcode }}</p>
          {% for type in object.facility_types.all %}
          <p class='type-name left'>{{ type.name }} &nbsp; </p>
          {% endfor %}
          <div class="price-and-heart-holder">
            <div class='save'>SAVE</div>
            {% if user.is_authenticated %}
              <div class="heart-holder" data-url="{% url 'favorite' object.slug %}" data-logged_in='yes' data-toggle="tooltip" data-placement="top" title="Save to favorites">
                <img class='heart-hearted'{% if not user in facility.favorited_by.all %}style="display:none"{% endif %} src="{% static 'img/icon_hearted_orange.png' %}"/>
                <img class='heart-not-hearted'{% if user in facility.favorited_by.all %}style="display:none"{% endif %} src="{% static 'img/icon_not_hearted.png' %}"/>

              </div>
            {% else %}
              <div class="heart-holder" data-logged_in='no' data-toggle="modal" data-target="#Registration-Modal" data-toggle="tooltip" data-placement="top" title="Save to favorites">
                <img class'heart-not-hearted' src='{% static 'img/icon_not_hearted.png' %}'/>
              </div>
            {% endif %}
            <div class="min-price-holder">
              <p class="min-price-from">FROM</p>
              <p class='min-price'>{{ object.get_min_price }}</p>
            </div>
          </div> 
          <div class="clear"></div>
          <hr class="facility-top-divider">
        </div>


        <div class="facility-left left">
          <div id="image-carousel">
            {% include 'snippets/image_carousel.html' with images=object.images.all %}
          </div>


          <h1 class='description-title left'>Description</h1>
          <h1 class='capacity right'>Vacancies: {{ object.vacancies }}</h1>
          <h1 class='capacity right'>Capacity: {{ object.capacity }} &nbsp;</h1>
          <div class="clear"></div>
          <p class="description">{{ object.description_long }}</p>



          {% if object.facilityroom_set.all or object.care_type == "Rent and Care" %}
          <hr id="description-pricing-divider">
          <h1>Pricing</h1>
          {% endif %}
          {% if object.facilityroom_set.all %}
          <div class="row">
              <div class="col-xs-4">
                  <h2>Room Type</h2>
                  {% for room in object.facilityroom_set.all %}
                    <p class="description">{{ room.room_type }}</p>
                  {% endfor %}

              </div>
              <div class="col-xs-4">  
                <h2>Size</h2>
                  {% for room in object.facilityroom_set.all %}
                    {% if room.get_area %}
                      <p class="description">{{ room.get_area }}</p>
                    {% else %}
                      <p class="description">&nbsp;</p>
                    {% endif %}
                  {% endfor %}
              </div>
              <div class="col-xs-4">
                <h2>Price</h2>
                {% for room in object.facilityroom_set.all %}
                  {% if room.starting_price %}
                    <p class="description"> ${{ room.starting_price }}</p>
                  {% else %}
                    <p class="description">&nbsp;</p>
                  {% endif %}  
                {% endfor %}
                
              </div>
            </div>
            <p class='price-vary'>*Pricing will vary depending on level of care</p>
            {% endif %}
            {% if object.care_type == "Rent and Care" %}
              <div class="row">
                <div class="col-xs-4">
                    <h2>Care Levels</h2>
                    <p class='description'>Level 1 :</p>
                    <p class='description'>Level 2 :</p>
                    <p class='description'>Level 3 :</p>
                    <p class='description'>Memory:</p>
                </div>
                <div class="col-xs-4">
                    <h2>Price</h2>
                    <p class='description'>${{ object.care_level_1_cost }}</p>
                    <p class='description'>${{ object.care_level_2_cost }}</p>
                    <p class='description'>${{ object.care_level_3_cost }}</p>
                    <p class='description'>${{ object.care_memory_cost }}</p>
                </div>
              </div>
            {% endif %}

            {% if object.facilityfee_set.all %}
              <div class="row">
                <div class="col-xs-4">

                    {% for fee in object.facilityfee_set.all %}
                    {% if forloop.first %}
                    <h2>Other Fees</h2>
                    {% endif %}
                    <p class="description">{{ fee.fee.name }} :</p>
                    {% endfor %}
                </div>

                <div class="col-xs-4">
                    {% for fee in object.facilityfee_set.all %}
                    {% if forloop.first %}
                    <h2>Price</h2>
                    {% endif %}
                    <p class="description">${{ fee.cost }} </p>
                    {% endfor %}
                </div>
              </div>
            {% endif %}

            {% if object.conditions.all %}
              <hr>
              <div class="row">
                <div class="col-xs-6">
                    <h2>Accepts Residents With</h2>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-5">

                    {% for condition in all_conditions %}
                    <p>
                        {% if condition in object.conditions.all %}
                        <!-- if this facility handles this type of condition -->
                        <img src='{% static 'img/icon_small_check.png' %}'/>
                        <span class='item-included margin-left-10'>{{ condition.name }}</span>
                        {% else %}
                        <span class='item-not-included margin-left-26'>{{ condition.name }}</span>
                        {% endif %}
                    </p>

                    {% endfor %}
                </div>
              </div>
            {% endif %}
            {% if object.amenities.all %}
              <hr>  
              <div class="row">
                <div class="col-xs-5">
                    <h2>Features &amp; Amenities</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-5">

                    {% for amenity in all_amenities %}
                    <p>
                        {% if amenity in object.amenities.all %}
                        <!-- if this facility handles this type of condition -->
                        <img src='{% static 'img/icon_small_check.png' %}'/>
                        <span class='item-included margin-left-10'>{{ amenity.name }}</span>
                        {% else %}
                        <span class='item-not-included margin-left-26'>{{ amenity.name }}</span>
                        {% endif %}
                    </p>
                    {% endfor %}
                </div>
              </div>
            {% endif %}
            {% if object.languages.all %}
              <hr>
              <div class="row">
                <div class="col-xs-5">
                    <h2>Language Spoken</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-5">
                    {% for language in all_languages %}
                    <p>
                        {% if language in object.languages.all %}
                        <!-- if this facility handles this type of condition -->
                        <img src='{% static 'img/icon_small_check.png' %}'/>
                        <span class='item-included margin-left-10'>{{ language.name }}</span>
                        {% else %}
                        <span class='item-not-included margin-left-26'>{{ language.name }}</span>
                        {% endif %}
                    </p>
                    {% endfor %}
                </div>
              </div>
            {% endif %}
        </div>

        <div class="facility-right right">
            <img id='profile' src="{{ object.director_avatar|thumbnail_url:'property_manager_avatar' }}"/>
            <div class="manager-holder left">
                <p class='director-name left'>{{ object.director_name }}</p>
                <div class="clear"></div>
                <p class='property-manager'>Community Manager</p>
            </div>
            <div class="clear"></div>
            <img id='phone' src='{% static 'img/icon_phone.png' %}'/>
            <p id="phone_number" class='phone'>
              {% if phone_already_requested %}
                {{ object.get_phone_normal }}
              {% else %}
                {{ object.get_phone_stars }}
              {% endif %}
            </p> <!-- ID necessary for JS -->
            <div class="clear"></div>
            <p class='phone-small'>Click to display community's Direct Phone Number</p>
            {% if phone_already_requested %}
              <button id="show-number-button" class="phone-button-inactive">Show Phone Number</button>
            {% else %}
              <button id="show-number-button" class='button-blue'>Show Phone Number</button> <!-- id necessary for js -->
            {% endif %}
            <div class="clear"></div>

            {% if tour_request_form %} <!-- User is logged in and has not submitted a tour request to this facility -->
              <button class='button-orange' data-toggle="modal" data-target="#tour-modal-1">Request A tour</button>
            {% elif user.is_authenticated %} <!-- User is logged in and has already submitted a tour request -->
              <button class='tour-button-inactive' >Request A tour</button>
            {% else %} <!-- User is not logged in -->
              <button class='button-orange' data-toggle="modal" data-target='#Registration-Modal'> Request A tour</button>
            {% endif %}

            <p class='desc-medium'>How to get a $200 Reward for  using <br> Home For Grandma</p>
            <p class='steps'>1. Contact community for a tour.</p>
            <p class='steps'>2. Mention HomeForGrandma.com</p>
            <p class='steps'>3. After you move in, call <br/>1(800) 434-0324 or <br><a href="/contact">Claim Reward Online</a></p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
</div>

{% if tour_request_form %}
{% include 'snippets/tour_request_modal.html' with form=tour_request_form facility_slug=object.slug %}

{% endif %}
{% endblock content %}
{% block body_media %}

<script>
$("#show-number-button").click(function() {
  {% if user.is_authenticated and not phone_already_requested %}
    $("#phone_number").html("{{ object.get_phone_normal }}");
    $.ajax({url: "{% url 'request_phone' slug=object.slug %}",
        type: 'POST',
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'}

    });
  {% elif user.is_authenticated %}
    return false;
  {% else %}
    $('#Registration-Modal').modal('show')
  {% endif %}
});
</script>
{% endblock body_media %}
