{% extends 'base.html' %}
{% block title %}
Financial Resources
{% endblock title %}
{% block SEO %}
 <meta name="description" content="This is test Content">
{% endblock SEO %}
{%load static from staticfiles %}

{% block content %}

<!-- Will be adding a fluid container here soon -->
<div class="container">
    <div class="financial-resources padder-100">
        <div class="row">
            <div class="col-sm-12">
                <h3>Our Financial Assistance</h3>
            </div>
        </div>
        <div class="row padder-80">
            <div class="col-sm-12">
                <!-- <center><iframe src="//player.vimeo.com/video/99369027" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></center> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
