<footer id="footer" class='padder-top-40'>
    <div class="container">
        <div class="row">
            <center>
                <a href=''><p class='footer-primary'>About Us</p></a>
                <a href=''><p class='footer-primary'>Contact Us</p></a>
            </center>
        </div>
        <div class="row padder-top-20">
            <center>
                <p class="footer-secondary">Copyright © 2014. Home For Grandma. All Rights Reserved</p>
                <a href=''><p class="footer-secondary">Terms & Condtions</p></a>
                <a href=''><p class="footer-secondary">Privacy Policy</p></a>
            </center>
        </div>
    </div>
</footer>
