{% load static from staticfiles %}

<div class="container">
  <a href="{% url 'index' %}"><img class='left' src='{% static 'img/logo.png' %}'/></a>


  {% if user.is_authenticated %}
  <a href=""><button class='button-orange right'>List Your Property</button></a>
  <a href="{% url 'profile' %}"> <button class='button-blue right'>Profile</button></a>
  <a href="{% url 'auth_logout' %}"><button class='button-orange right'>Logout</button></a>
  {% else %}
  <a href=""><button class='button-orange right'>List Your Property</button></a>
  <!-- <a href=''><button class="button-orange right" data-toggle="modal" data-target="#Registration-Modal">Register</button></a> -->
  <a href=''><button class="button-blue right" data-toggle="modal" data-target="#Login-Modal">Login</button></a>


  <p class='right bold'>(626) 522-3432</p>
  {% endif %}
</div>
