{% load static from staticfiles %}

<div class="container">
  <a  class='logo' href="{% url 'index' %}"><img class='left' src='{% static 'img/logo.png' %}'/></a>


  {% if user.is_authenticated %}

 <!--  <p data-toggle="modal" data-target="#List-Property-Modal">List Your Property</p> -->
  <!-- <button class='button-orange right button-header' data-toggle="modal" data-target="#List-Property-Modal">List Your Property</button> -->

  <a href="{% url 'about' %}" class="nav">About Us</a>
  <a class='nav' href="{% url 'profile' %}">My Saved </a>
  <a class='nav' href="{% url 'auth_logout' %}"> Logout</a>
  <a class='nav nav-call' href='tel:18004340324'>1 (800) 434-0324</a>

  {% else %}
  <a href="{% url 'about' %}" class="nav">About Us</a>
  <!-- <p class='list-prop' data-toggle="modal" data-target="#List-Property-Modal">List Your Property</p> -->
  <p class='normal-registration-button'>Create Account</p>
  <p data-toggle="modal" data-target="#Login-Modal">Login</p>

  <!-- <button class="button-orange right button-header" data-toggle="modal" data-target="#Registration-Modal-1">Create Account</button> -->
  <!-- <button class="button-blue right button-header" data-toggle="modal" data-target="#Login-Modal">Login</button> -->

  <a class='nav nav-call' href='tel:18004340324'>1 (800) 434-0324</a>
  {% endif %}
</div>
