{% extends "base.html" %}
{% block title %}
Home For Grandma
{% endblock title %}


{% block content %}
{% load static from staticfiles %}
<div class="home-background">
  <div class="container" id=''>
    <div class="search-holder" style=''>
      <div class="transparent-holder"></div>
      <div class="content-holder">
        <div class="search-title-holder">
          <h1 class="search-title">Find Senior Living</h1>
          <a href="#">
            <button class="blog-link-button">LEARN ABOUT PROPERTY TYPES</button>
          </a>
        </div>
        <div class="clear"></div>

        {% include 'snippets/searchbox_home.html' with form=search_form %}
        <!-- <center><iframe src="//player.vimeo.com/video/99257918" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></center> -->
      </div>
    </div>

    <center>
    <a href='/home_video' style='text-decoration:none; color:#fff;'><div class="play-holder">
       <img class='play' src='{% static 'img/play_button.png' %}'/>
    <div class="transparent-holder">
      <p class='padding-top-15 larger-font'>Who We Are</p>
    </div></a>
  </center>
   
    </div>
  </div>
</div>  


<div class="home-info-holder padder-40 background-beige">
  <div class="container">
    <div class="col-xs-6">
      <div class="desc-boxes">
        <img class='left' src='{% static 'img/image_home_left.png' %}'/>
        <a href='/receive_reward'><p class="desc-main">A gift for move in</p></a>
        <a href='/receive_reward'><p class="desc-minor">Receive a $200 Reward when you move into a HomeForGrandma.com property.</p></a>
        <a class='learn-more' href='/receive_reward'>Learn more</a>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="desc-boxes">
        <img class='left' src='{% static 'img/image_home_right.png' %}'/>
        <a href='/making_move'><p class="desc-main">Making the Move</p></a>
        <a href='/making_move'><p class="desc-minor">Talking to your loved one about the benefits of Assisted Living</p></a>
        <a class='learn-more'href='/making_move'>Learn more</a>
      </div>
    </div>
  </div>



    <!-- <div class="col-md-4 home-info">
      <center>
        <img src='{% static 'img/icon_reward.png' %}'/>
        <p class='bold secondary'>$200 Reward</p>
        <p class='primary'>other text here</p>
      </center>
    </div>
    <div class="col-md-4 home-info">
      <center>
        <img src='{% static 'img/icon_family.png' %}'/>
        <p class='bold secondary'>$200 Reward</p>
        <p class='primary'>other text here</p>
      </center>
    </div>
    <div class="col-md-4 home-info">
      <center>
        <img src='{% static 'img/icon_waitlist.png' %}'/>
        <p class='bold secondary'>$200 Reward</p>
        <p class='primary'>other text here</p>
      </center>
    </div> -->


    <div class="clear"></div>
  </div>


  <div class="featured-listings padder-80">
    <div class="container">
      <center>
        <h1>Featured Listings</h1>
      </center>
      {% for facility in facilities %}
      {% if forloop.counter0|divisibleby:"3" or forloop.first %}
      <div class="row">
        {% endif %}
        {% include 'snippets/listing_preview.html' with user=request.user facility=facility %}
        {% if forloop.counter|divisibleby:"3" or forloop.last  %}
      </div>
      {% endif %}
      {% endfor %}
    </div>

  </div>





  {% endblock content %}
  {% block body_media %}
  <script>
  $("#secondary-search").hide()
  </script>
  {% endblock body_media %}
