{% extends 'base.html' %}
{% block title %}
Financial Planning
{% endblock title %}
{% block SEO %}
 <meta name="description" content="This is test Content">
{% endblock SEO %}
{%load static from staticfiles %}

{% block content %}

<!-- Will be adding a fluid container here soon -->
<div class="container">
    <div class="financial-resources padder-100">
        <div class="row">
            <div class="col-sm-12">
                <h3>Financial Planning</h3>
            </div>
        </div>
        <div class="row padder-80">
            <div class="col-sm-12">
               <!--  <center><iframe src="//player.vimeo.com/video/99580099" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></center> -->
            </div>
        </div>
        
       </div>
   </div>
</div>

{% endblock content %}
