{% extends 'base.html' %}
{%load static from staticfiles %}

{% block content %}

<!-- Will be adding a fluid container here soon -->
<div class="container">
    <div class="financial-resources padder-100">
        <div class="row">
            <div class="col-sm-12">
                <h3>Moving your loved ones</h3>
            </div>
        </div>
        <div class="row padder-80">
            <div class="col-sm-12">
                <center><iframe src="//player.vimeo.com/video/99369027" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></center>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <p>Your home is essentially your sanctuary when the outside world seems foreign to you. The thought of relocating can be difficult for both yourself and your loved ones. Imagine when someone tries to take this private sanctuary away from you and tells you that you need to move. Initially, talking to your elderly parents about leaving their homes and moving into a senior community can be one of the most challenging and dreadful moments—but it doesn’t have to be. Preparation is the key through this difficult process in preparing for what might lie ahead and for the possible overwhelming emotions of shock, grief, and anger. Consider these recommendations and advice as informative pieces on how to eventually have this “talk” and to help make this process a bit simpler. 
                </p>

                <p>We all understand that this can be a very uncomfortable and difficult subject to discuss for both parties. Feeling unprepared in not knowing how or where to begin could also trigger feelings of guilt in having the “talk” with your loved ones. At the same time, it can equally as difficult for seniors since many may be in denial that the extra care or safety is needed, which in turn can cause resentment. Generally, seniors are already accustomed to a particular lifestyle, they may be set in their ways and reluctant to even consider moving. Be prepared of the possible outcomes as the result of having this talk. It can possibly leave your loved ones feeling unwanted and unloved. </p> 

                <p>As mentioned, preparation is ultimately the key and to become prepared, you must diligently research on the different senior communities that are made available and why your elderly loved ones would best fit this particular setting. It’s important to mentally prepare a set of answers for their questions, such as why it is more suitable for them to move out of their comfortable home or what does the facility have to offer. You can eventually incorporate these necessary parts into the “talk” as to why they should possibly consider moving into a senior community and what benefits they can obtain from it, such as: 
                </p>
                <ul>
                    <li>More quality care</li>
                   <li> Safety (pendants) </li>
                   <li>Experienced and professional staff members</li>
                   <li>Trained staff dedicated for their specific needs</li>
                   <li>Social experience</li>
                   <li> Meeting other seniors with similar backgrounds or beliefs</li>
                   <li> More activities fit for their physical needs</li>
                   <li>Amenities provided (e.g. housekeeping, laundry, transportation) </li>
                   <li> Meals provided (e.g. breakfast, lunch, dinner) </li>
               </ul>

        

               <p> The most important question then arises—how do you approach this sensitive topic? There’s no specific order or formula since each individual will vary depending on his or her current situation and needs. The most important thing in initiating this discussion is to choose a nice and comfortable setting and to remain positive at all times. Expect them to react angrily and continue to remain as positive and understanding. The following important tips and advice can hopefully make the transition easier: </p>

               <ul>
                   <li> Prepare for your conversation</li>
                   <li> Do your research (visit the different senior communities) </li>
                   <li>Research the progression of their illness or condition</li>
                   <li>Make a family decision</li>
                   <li>Allow your children to be part of the decision-making process</li>
                   <li>Let them ask questions and voice their concerns</li>
                   <li>Identify the what-ifs</li>
                   <li>Watch your language, control your tone,and don’t use offensive words</li>
                   <li>Stay positive and be understanding </li>
                   <li> Recognize why they want to stay at home</li>
                   <li>Assure that it’s the right thing</li>
                   <li>Offer a tour of some local assisted living centers, if he or she is willing, but DO NOT push it. Drop the subject if necessary and wait for another day</li>

               </ul>

              
               <p> The initial approach in having these kinds of discussions will take time and patience, and of course, thorough preparation. This requires you and your family’s constant support. These talks won’t take effect in one day, but are often times a gradual progress. Be sure to allow them to voice their opinions and take everything into consideration. Browse through our site for more information on the different senior living communities that might be available in your area.</p>
           </div>
       </div>
   </div>
</div>

{% endblock content %}
