{% extends 'base.html' %}

{% block content %}
<br />
<br />
<br />
<br />
<form id='edit_manager_note_form' action="{{ request.get_full_path }}" method="post">
  {% csrf_token %}
  {{ form.as_table }}
  <button id="formsubmit" type="submit">Save changes</button>
</form>
{% endblock content %}

{% block body_media %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#edit_manager_note_form').submit(function() {
      console.log('boop')
      $.ajax({
        data: $(this).serialize(),
        type: $(this).attr('method'),
        url: $(this).attr('action'),
        success: function(response) {
          close()
          },
        error: function() {
          alert('Something went wrong, your message was not saved')
        }
      });
      return false;
    });
  })
</script>
{% endblock body_media %}
