{% extends 'base.html' %}
{% block title %}
Receive A Reward | Home For Grandma
{% endblock title %}
{% block SEO %}
 <meta name="description" content="Home For Grandma would like to reward those who care with a $200 reward card. Read more to learn about our reward program!">
{% endblock SEO %}
{%load static from staticfiles %}

{% block content %}

<!-- Will be adding a fluid container here soon -->
<div class="receive-reward ">
    <div class="background">
        <div class="container padder-100">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class='margin-top-20'>Receive a</h1><br>
                    <h1>$200 Reward Card</h1>
                    <br>
                    <h3>for using Home For Grandma.com</h3>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row padder-40">
            <div class="col-sm-4">
                <h4>Step 1</h4>
                <br>
                <p><span>Register </span>a free account</p>
            </div>
            <div class="col-sm-8">
                <img src='{% static 'img/icon_step1.png' %}'/>
            </div>
        </div>
    </div>

    <div class="background-beige">
        <div class="container">
            <div class="row padder-40 background-beige">
                <div class="col-sm-4">
                    <h4>Step 2</h4>
                    <br>
                    <p><span>Search </span>for communities and book tours through the website</p>
                </div>
                <div class="col-sm-8">
                    <img src='{% static 'img/icon_step2.png' %}'/>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row padder-40">
            <div class="col-sm-4">
                <h4>Step 3</h4>
                <br>
                <p><span>Tell </span>the community manager you found them on HomeForGrandma</p>
            </div>
            <div class="col-sm-8">
                <img src='{% static 'img/icon_step3.png' %}'/>
            </div>
        </div>
    </div>
    <div class="background-beige">
        <div class="container">
            <div class="row padder-40 background-beige">
                <div class="col-sm-4">
                    <h4>Step 4</h4>
                    <br>
                    <p><span>Report </span>your move-in by calling us at <br> <span>1 (800) 434-0324</span></p>
                </div>
                <div class="col-sm-8">
                    <img src='{% static 'img/icon_step4.png' %}'/>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row padder-40">
            <div class="col-sm-2">
                <img src='{% static 'img/icon_mail.png' %}'/>
            </div>
            <div class="col-sm-10">
                <p class="confirm">We will confirm your move-in and send you a <span>$200 Reward</span></p>
                <p class="small">Or we can help you donate your reward to a local charity partner!</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
