{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <link href="{% static 'css/vendor/bootstrap.min.css' %}" rel=stylesheet">
    <link href="{% static 'slider/css/slider.css' %}" rel="stylesheet">
{% endblock extra_head %}


{% block content %}
    {% include 'searchbox.html' with form=form %}
    <div id="search-results">
        {% for listing in object_list %}
            {% include 'facility_result.html' with user=request.user facility=listing %}
        {% empty %}
            <span>Empty</span>
        {% endfor %}
    </div>

{% endblock content %}

{% block body_media %}
    <script type="text/javascript" src="{% static 'slider/js/bootstrap-slider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
{% endblock body_media %}

