<div id="searchbox">
    <form id="SearchForm" action="{% url 'search' %}" method="get">
        {{ form.as_p }}
        <span>$149 </span>
        <input id="slider" type="text" class="span2" value="" data-slider-min="149" data-slider-max="4999" data-slider-step="1" data-slider-value="[149,3500]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="hide">
        <span>$4999</span>
        <!-- starting values are set in data-slider-value-->
        <input type="submit" value="Submit" />
    </form>

</div>

